i.location {
  background: url(/my_location.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 35px;
  vertical-align: middle;
}
