@import '../../stylesheets/mixins';

.selectionmap-leaflet-container {
  height: 100%;
  min-height: 60vh;
  width: 100%;
  /* min-width: 75vw; */
  display: flex;
  margin: 20px auto;
}

div.selectionmap-leaflet-container {
  position: relative;
  margin: 0;
}

@include breakpoint(mobile) {
  .selectionmap-leaflet-container {
    height: 80%;
    min-width: 90vw;
  }
}

.dist-slider {
  margin: 0px 10px 30px 10px;
}

.center-in-my-pos {
  margin: 10px;
}
.sidebar-tabs>li>a,
.sidebar-tabs>ul>li>a {
  display: inline-block;
}

.sidebar {
  width: 300px;
}

.sidebar-left~.sidebar-map .leaflet-left {
  left: 315px;
}

.sidebar-tab-btn-group {
  margin-top: 10px;
}

div.sidebar-tab-btn-group > button > i {
  margin-right: 3px;
}
