@import '../../stylesheets/colors';

.OAuthLoginButtons {
  margin-bottom: 25px;

  &.WithEmailMessage {
    position: relative;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 30px;

    .EmailMessage {
      display: inline-block;
      background: #fff; /* default */
      background: lighten($todos-palette5, 70%);
      padding: 0 10px;
      position: absolute;
      bottom: -27px;
      left: 50%;
    }
  }
}
