@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

/* https://github.com/PaulLeCam/react-leaflet/issues/108 */

.firesmap-leaflet-container {
  height: 100%;
  min-height: 55vh;
  width: 100%;
  /* min-width: 75vw; */
  display: flex;
  margin: 10px auto;
}

@include breakpoint(mobile) {
  .firesmap-leaflet-container {
    height: 70%;
    min-width: 85vw;
    margin: 10px auto;
  }
}

.Loading {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1000;
}

.Loading > svg {
  width: 300px;
  height: 300px;
  stroke: grey;
}

.mark-checkbox {
  margin-left: 5px;
}

.leaflet-control-layers-toggle {
  background-image: url(/images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/images/layers.png);
  background-size: 26px 26px;
}

.glyphicon .glyphicon-thumbs-up {

}

.firesmap-legend {
  font-size: 16px;
}

.firesmap-note,
.firesmap-footnote {
  font-size: 14px;
  color: $light;
}
