$primary: #337ab7;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$facebook: #3b5998;
$google: #ea4335;
$github: $gray-dark;

$cb-blue: #4285F4;
$cb-green: #00D490;
$cb-yellow: #FFCF50;
$cb-red: #DA5847;

$todos-back1: #AC9393;
$todos-back2: #FFFFFF;
$todos-font1: #280B0B;
$todos-font2: #501616;

$todos-palette1a: #5A7636;
$todos-palette2a: #462F13;
$todos-palette3a: #281D08;
$todos-palette4a: #021704;
$todos-palette5a: #342F2C;

$todos-palette1b: #0D2E0E;
$todos-palette2b: #425C74;
$todos-palette3b: #70564B;
$todos-palette4b: #D86A25;
$todos-palette5b: #28221D;

$todos-palette1: $todos-palette1b;
$todos-palette2: $todos-palette2b;
$todos-palette3: $todos-palette3b;
$todos-palette4: $todos-palette4b;
$todos-palette5: $todos-palette5b;

// It seems that we are not using bootstrap scss version so does not work
$primary: $todos-palette1;
$success: $todos-palette2;
$info:    $todos-palette3;
$warning: $todos-palette4;
$danger:  #d9534f;
