@import './mixins';
@import './colors';

a, a:hover  {
  color: $todos-palette5;
}

.bg-dark {
  background-color: $todos-palette1 !important;
}

h4.page-header {
  line-height: 2em;
}

@include breakpoint(mobile) {
  h4.page-header {
    line-height: 1.3em;
  }
}

.page-header {
  margin-top: 25px;
}
