@import '../../stylesheets/mixins';

.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

a.navbar-dark:hover {
  text-decoration: none;
  color: gray;
}

a.navbar-dark,
a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: gray;
}

.nav-link {
  padding: 0rem 0.8rem;
}

.navbar {
  padding: 0.3rem 0rem;
}

a.navbar-brand {
  font-size: 26px;
}

@include breakpoint(mobile) {
    a.navbar-brand {
        font-size: 18px;
        padding: 15px 3px 15px 15px;
    }
    .navbar-nav .nav-link {
        padding-left: 5px;
    }
}

.hide-brand {
  opacity: 0;
  width: 0px;
}